<html>
	<head>
		<title>Favorites</title>
		<link rel="shortcut icon" href="/assets/images/favicon.png" />
	</head>
	
	<body>
		<% favorites.forEach(function(favorite) { %>
			<%= favorite.url %> - 
				<a href="/<%= room %>/favorites/delete/<%= favorite._id %> ">remove from favorites</a> &nbsp; &nbsp;
				<a href="javascript: void(0);" data-url="<%= favorite.url %>" class="emit">send as battle</a>
			<br>
			<img src="<%= favorite.url %>">
			<hr>
		<% }); %>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/assets/js/jquery/jquery.js"></script>
		<script>
	
			$(document).ready(function() {
	  	  	  var socket = io();
			  
	  	  	  socket.on('connect', function() {
	  	  	  	socket.emit('room', '<%= room %>');
	  	  	  });
	  	
			  $(".emit").on("click", function() {
				  var url = $(this).attr('data-url');
				  
				  socket.emit('tag message', { "text": url, "room": '<%= room %>' });
				  alert('sent it!');
			  });
			  
			});
			
		</script>
		
	</body>
</html>